.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* label > input.checkBoxLike {
    opacity: 0;
    z-index: 1;
}
label > input.checkBoxLike:checked::before {
    content: '\f004';
    font-family: 'Font Awesome 5 Brands';
    color: tomato;
    background: tomato;
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 2;
}
label > input.checkBoxLike::before {
    content: '\f004';
    font-family: 'Font Awesome 5 Brands';
    color: black;
    background: tomato;
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    z-index: 2;
} */
.backgroundRandom {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .labelForLikeCheckBox {
    background: tomato;
} */
